:root {
    --primary-color-A: #FF7E40;
    --primary-color-B: #A63600;
    --secondary-color-A: #FFC300;
    --secondary-color-B: #FFB140;
}

.articles h2 {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.articles h2::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color-B);
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin: 0 3rem;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    min-width: 300px;
    max-width: 630px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 5px 20px -3px grey;
    overflow: hidden;
}

.blur-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(70%) blur(7px);
}

.article span {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    background: linear-gradient(to top, black, transparent);
    color: white;
    text-align: center;
    transition: 0.5s ease-out;
}

.article span p {
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
}

.article:hover span {
    opacity: 1;
}

.article > p {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.article:hover > p {
    color: var(--primary-color-B);
}

.scroll-up-btn {
    display: none;
    position: sticky;
    left: calc(100% - 3.5rem);
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: var(--primary-color-B);
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 780px) {
    .article {
        width: 100%;
    }

    .blur-img {
        display: block;
    }

    .blur-img + img {
        box-shadow: 0 0 20px -3px grey;
    }
}